<div class="top">
    <div id="top_t">
        <div id="logo" class="fl"></div>
        <h1 class="system_logo">电商后台管理系统</h1>

        <div id="photo_info" class="fr">
            <div id="photo" class="fl">
                <a href="javascript:void(0);"><img src="images/a.png" alt="" width="60" height="60"></a>
            </div>
            <div id="base_info" class="fr">
                <div class="help_info">
                    <a href="javascript:void(0);" id="hp" title="稍后开通">&nbsp;</a>
                    <a href="javascript:void(0);" id="gy" title="稍后开通">&nbsp;</a>
                    <a href='$!homeModule.getTarget("/login/doLoginOut.jtml")' id="out">&nbsp;</a>
                </div>
                <div class="info_center">
                    $!{loginName}
                </div>
            </div>
        </div>
    </div>
    <div id="side_here">
        <div id="side_here_l" class="fl"></div>
        <div id="here_area" class="fl">当前位置：<span id="hereArea" style="color: blue;">欢迎页</span></div>
    </div>
</div>