<style>
    a {
        color: blue;
    }
</style>
<div class="side" style="max-height: 1000px;overflow-y: auto;">
    <div id="menu_list" class="sideMenu" style="margin:0 auto;margin-bottom: 30px;">
        #foreach($menu in $!menuTree)
            <h3 id="h3_$menu.menuId">$!menu.menuName</h3>
            <ul style="display: none;">
                #foreach($subMenu in $!menu.subMenu)
                    <li rho="menu_li" val="$subMenu.menuId">
                        <a href="$!{subMenu.menuLink}" target="right"
                           onclick="selectMenu(this,$menu.menuId,$subMenu.menuId);">$!{subMenu.menuName}</a>
                    </li>
                    #set($index=2)
                #end
            </ul>
        #end
    </div>
</div>

<script type="text/javascript">
    function selectMenu(obj, menuId, menu2Id) {
        $("#hereArea").html($("#h3_" + menuId).html() + " - " + $(obj).html());//显示当前位置
        var menuLi = $('#menu_list li[rho="menu_li"]');
        $.each(menuLi, function (index, menu) {
            if ($(menu).attr("val") == menu2Id) {
                $(menu).addClass("on");
            } else {
                $(menu).removeClass("on");
            }
        });
    }
    $(document).ready(function () {
        if ($(".side").height() < $(".sideMenu").height()) {
            $(".side").attr("style", "overflow-y:auto;");
        }
        $("#menu_list h3").on("click", function () {
            $("#menu_list ul").hide("fast");
            if ($(this).next("ul").is(":hidden")) {

                $(this).next("ul").show("fast");
            }
            else {
                $(this).next("ul").hide("fast");
            }
        });
    });
</script>