<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="mybatis-config.properties" />-->
    <settings>
        <!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER -->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- [是否 启用  数据中 A_column 自动映射 到 java类中驼峰命名的属性 default:fasle] -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

</configuration>