@CHARSET "UTF-8";

.editGrid {
	width: 100%;
}

.editGrid dl {
	height: 27px;
	line-height: 27px;
	margin: 0;
	clear: both;
}

*+html .editGrid dl {
	height: auto;
}

*+html .editGrid dl.expansion {
	height: 27px;
}

.editGrid dl dt {
	text-align: right;
	width: 10%;
	padding-right: 8px;
	float: left;
}

.editGrid dt i {
	color: #FF0000;
}

.editGrid dl dd {
	width: 88%;
	float: left;
	margin-left: 0;
}

.editGrid dl.expansion {
	display: none;
}

.editGrid .kissy-editor {
	width: 98%;
	height: 300px;
}