<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wme.rms.persistence.mysql.DualMapper">

    <sql id="selectColumns">
        select sysdate() from dual
    </sql>
    <sql id="queryConditions">
        <where>
            <if test="sysdate!=null">
                sysdate=#{sysdate}
            </if>
        </where>
    </sql>

    <select id="getSystemTime" resultType="Date" >
        <include refid="base.currentTimeM"></include>
    </select>

    <select id="count" parameterType="Map" resultType="int">
        select count(sysdate) from dual
        <include refid="queryConditions"/>
    </select>

    <select id="pageList" parameterType="Map" resultType="com.wme.rms.entity.DualEntity">
        <include refid="selectColumns"/>
        <include refid="queryConditions"/>
        order by sysdate
        <include refid="base.paginationLimit"/>
    </select>

</mapper>